:root {
    --primary: #5f9ea0;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 30px;
    color: #070707;
    cursor: pointer;
    background-color: var(--primary);
    position:absolute;
  top: 5px;
  left:400px;

  }
  
  .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fbfdfd;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }